body { 
    font-family: helvetica, arial, san-serif; 
    background-color: #257; 
    text-align: center; 
    font-size: 0.9em; 
    line-height: 1.25em
}

p, li { color: #333; }

h1 { 
    border-bottom: 1px solid #44a; 
    margin-bottom: 30px; 
    line-height: 1.0em
}

h1 span { 
    border-bottom: 8px solid #44a; 
    margin-bottom: 8px; 
}

h2 { 
    border-bottom: 1px solid #44a; 
    line-height: 1.0em
}

h2 span { 
    border-bottom: 4px solid #44a; 
    margin-bottom: 8px; 
    padding: 0px; 
}

h3 { 
    margin-top: 30px; 
}

ul { 
    margin-left: 0px; 
    padding-left: 2em; 
}

#container { 
    background-color: white; 
    width: 720px;  
    margin-left: auto; 
    margin-right: auto; 
    text-align: left; 
    padding: 30px; 
    border: 5px solid #146;
}

pre { 
    border: 1px dotted gray; 
    background-color: #f9fdff; 
    margin-left: 20px; 
    padding: 4px; 
    margin-right: 20px; 
    overflow: auto
}

#markets { 
    float: right; 
    width: 250px; 
    height: 60px;  
    font-size: 0.7em; 
    text-align: right; 
    background-color: white;
}

#markets p { 
    margin: 0px 0px 4px 0px; 
}

.coptions { 
    display: none; 
}

#customize { 
    padding: 15px; 
    margin-left: 0px; 
    border: 1px dashed black; 
    font-size: 0.9em; 
    background-color: #ffffff; 
    /* background-color: #fafaff;  */
    position: relative;
    height: 310px;
    overflow: hidden;
}

#showmore {
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 8px;
    width: 40%;
    background-color: #333;
    color: #fff;
    font-size: 0.85em;
}

#showmore a { color: #fff; padding-bottom: 2px; }

#customize h3 { 
    text-align: center; 
    margin-top: 0px; 
    margin-bottom: 5px; 
    font-size: 1.0em
}

#customize ul { 
    margin: 0px; 
    list-style: none; 
}

#customize li { 
    padding-bottom: 5px; 
}

#customize input { 
    font-size: 0.9em; 
}

#examples1 { 
    float: right; 
    width: 300px; 
    font-size: 0.8em; 
    background-color: #f8f8ff; 
    margin: 5px 0px 15px 10px; 
    padding: 0px; 
}

#examples div { 
    padding: 8px; 
}

#examples { 
    position: relative; 
    margin-top: 50px; 
}

#ex2 { 
    float: right; 
    width: 50%; 
    position: relative
}

.typetitle { 
    text-decoration: underline; 
}

.section { 
    display: none; 
    clear: both
}

#footer { 
    text-align: center; 
    font-size: 0.7em; 
    color: #777; 
    clear: both; 
    margin-top: 100px; 
}

.docdemo { 
    float: right; 
    position: relative; 
    line-height: 1.3em
}

#customresult { 
    text-align: center; 
    font-size: 1.2em
}

#rightfloat { 
    float: right; 
    margin: 5px 0px 15px 15px; 
    font-size: 0.8em;  
    color: black; 
}

#newversion {  
    border: 1px solid red; 
    background: #ff9; 
    padding: 4px; 
    text-align: center; 
    font-weight: bold
}

#doctocbox { 
    position: fixed; 
    left: 50%; 
    top: 200px; 
    width: 155px; 
    margin: 0 0 0 390px; 
    background-color: white; 
    text-align: left; 
    border-right: 5px solid #146; 
    border-top: 5px solid #146; 
    border-bottom: 5px solid #146; 
    display: none
}

* html #doctocbox {
    position: absolute;
}

#doctocbox a { 
    text-decoration: none; 
    color: #333
}

#doctocbox a:hover { 
    text-decoration: underline 
}

#doctocbox ul { 
    color: grey; 
    font-size: 0.9em; 
    line-height: 1.8em; 
    list-style-type: none; 
    padding: 0px; 
    margin: 0px
}

#doctocbox li { 
    padding-left: 15px; 
}

.highlight { 
    background-color: #333; 
}
.highlight a { 
    color: #fff !important 
}

.dochead { 
    border-top: 1px solid #777; 
    padding-top: 60px
}

.opttable tr td { 
    vertical-align: top; 
    line-height: 1.5em
}

.optname { font-weight: bold; }

#tabbar { position: relative; width: 720px; background-color: white; padding-bottom: 10px; z-index: 1000}

#trycode { display: none; margin: 0px; background-color: #FAFAFF  }

#trytabs { border-bottom: 1px solid #666; padding: 0px; }
#trytabs a { background-color: #eee; color: #666; margin: 1px; padding: 5px; text-decoration: none; }
.tryselected { background-color: #fff !important; font-weight: bold !important; color: black !important}
.tryname { border-bottom: 1px dotted #777; }

.trytip { position: absolute; display: none; background-color: #000; color: #fff; padding: 3px; width: 250px; xheight: 20px; font-size: 12px; z-index: 1000}
#sizer { position: static !important; display: block !important; visibility: hidden !important; float left !important; }
