<h1>Flights Poznan-Dubai </h1>


<table id="test-table" class="sticky-thead">
  <thead>
    <th data-sort-key="offer_id">Offer</th>
    <th data-sort-key="departure">Departure</th>
    <th data-sort-key="arrival">Arrival</th>
    <th data-sort-key="available_seats">Seats</th>
    <th data-sort-key="price">Price</th>
  </thead>
  <tbody>

  </tbody>
</table>

<div>
  <button id="prev">Previous</button>
  <button id="next">Next</button>
</div>


<script>
$('#test-table').tablePopulator({
  fetch_url: "http://localhost:3000/json",
  previous_button_selector: "#prev",
  next_button_selector: "#next",
  pagination_limit: 5,
  search_field_selector: "#search-input",
  row_mapper: function (json_element, row_element) {
    row_element[0] = '<a href="https://oferty.tui.pl/new-rezerwacja-oferty?id_o='+json_element.offer_id+'&trv=ch&ad_count=1&ch_count=0&in_count=0">'+json_element.offer_id+'</a>'
    row_element[1] = json_element.departure
    row_element[2] = json_element.arrival
    row_element[3] = json_element.available_seats
    row_element[4] = json_element.price
  }
});
</script>
