<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>DoDubaju.com:: Flights to Dubai</title>

    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    <link href="/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="/css/ionicons.min.css" rel="stylesheet" type="text/css">
    <link href="/css/animate.min.css" rel="stylesheet" type="text/css">

    <!-- Background Slider -->
    <link href="/js/vegas/vegas.min.css" rel="stylesheet" type="text/css">

    <!-- Phone number -->
    <link rel="stylesheet" href="/css/intlTelInput.css">

    <!-- Custom CSS -->
    <link href="/css/csoon.css" rel="stylesheet">

    <link rel="apple-touch-icon" sizes="57x57" href="/icon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/icon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/icon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/icon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/icon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/icon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/icon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/icon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/icon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/icon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/icon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/icon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/icon/favicon-16x16.png">
    <link rel="manifest" href="/icon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/icon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>
    input.offerchecker {
      visibility: hidden;
    }
    input.offerchecker:checked:after, input.offerchecker:after {
      visibility: visible;
      font-family: FontAwesome;
      font-size:18px;height: 17px; width: 17px;
      position: relative;
      top: -7px;
      left: 0;
      display: inline-block;
    }

    input.offerchecker:checked:after {
      content: '\f004';
      color: #FF337D;
    }

    input.offerchecker:after {
      content: '\f08a';
      color: #AAA;
    }

    .table td, .table th {background-color: #fbfbfb;}
    .table {margin: auto; text-align: center;}

    input[type="text"] {
      font-size: 36px;
      font-family: 'Roboto Condensed', sans-serif!important;
      width:260px;
      padding: 6px 10px;
      border: none;
      border-collapse: separate;
      border-radius: 20px!important;
      text-align: center;
      border: 1px solid #666;
    }

    input[type="text"] {
      opacity: 0.5;
      color: #333;
    }

    input[type="text"]:hover,
    input[type="text"]:focus {
      opacity: .7;
      color:#444;
      box-shadow: none;
      border: 1px solid #FFF;
    }

    input:focus::-webkit-input-placeholder  {
      opacity: 0;
    }

    input[type="text"]:focus
    {
      border: 1px solid #FFF;
      outline: none;
    }

    th:nth-child(even),
    td:nth-child(even) {
        text-align: center;
    }
    .vGood {
        background-color: #A0F97E!important;
    }
    .good {
        background-color: #D0F97E!important;
    }
    .avg {
        background-color: #F9DA7E!important;
    }
    .poor {
        background-color: #F9A77E!important;
    }
    .vPoor {
        background-color: #EF7676!important;
    }

    .intl-tel-input {
      font-size: 45px;
    }

    .country-list {
      width: 900px;
    }

    #error-msg {
      color: red;
    }
    #valid-msg {
      color: #00C900;
    }
    input.error {
      border: 1px solid #FF7C7C;
    }
    .hide {
      display: none;
    }
    .active_button {
      color: #EEE;
    }
    .inactive_button {
      color: #CCC;
    }
    </style>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-108869103-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-108869103-1');
    </script>


</head>

<body id="page-top" data-spy="scroll">

    <!-- Preloader -->
    <div id="preloader"><div id="status">&nbsp;</div></div>

    <%
      if params[:list].nil?
    %>
    <!-- Intro Header -->
    <header id="header" class="intro">

        <!-- Video from YouTube. Have Questions? How To: https://github.com/pupunzi/jquery.mb.YTPlayer/wiki -->
        <a id="bgndVideo" class="player" data-property="{videoURL:'https://youtu.be/94vybf4G4Vc', containment:'body', autoPlay:true, realfullscreen:true, optimizeDisplay:true, loop:true, mute:true, startAt:10, stopAt: 200, quality:'auto', opacity:1, showControls: false, showYTLogo:false, vol:25}"></a>

        <div class="intro-body">
          <%
          if session[:user_id]
          %>
            <ul class="list-inline lead">
                <li><a href="#about" class="btn btn-border btn-lg page-scroll wow fadeInUp" data-wow-duration="1s" data-wow-delay="10.4s"><i class="fa fa-chevron-down"></i>POKAŻ WYNIKI</a></li>
            </ul>
          <% else %>
            <p class="intro-text wow fadeIn" data-wow-duration="7s" data-wow-delay="3.7s">Podaj numer telefonu</p>
            <p class="wow fadeIn" data-wow-duration="7s" data-wow-delay="3.7s" style="color: #CCC">damy Ci znać o zmianie ceny lotu, który polubisz</p>
            <p class="wow fadeIn" data-wow-duration="7s" data-wow-delay="3.7s">
              <form id="signin" action="/signin" method="GET">
                <input type="text" class="phone" id="phone" name="phone_short" type="tel" />
                <input type="hidden" id="hidden" name="phone" />
                <button type="submit" id="phone_submit" style="background-color: transparent; border: 0; cursor: pointer;">
                    <i class="fa fa-arrow-circle-right" id="phone_button" style="font-size: 50px; position: relative; top: 7px;" class="inactive_button"></i>
                </button>
              </form>
            </p>
          <% end %>
        </div>

        <div class="video-controls">
            <a id="video-volume" class="fa fa-volume-off fa-lg" href="#"></a>
            <a id="video-play" class="fa fa-pause fa-lg" href="#"></a>
        </div>
    </header>

    <% end %>

    <%= yield %>



  </body>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js"></script>

  <!-- jQuery -->
  <script src="/js/jquery.js"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="/js/bootstrap.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="/js/jquery.easing.min.js"></script>
  <script src="/js/jquery.countdown.min.js"></script>
  <script src="/js/device.min.js"></script>
  <script src="/js/wow.min.js"></script>
  <script src="/js/smoothscroll.js"></script>
  <script src="/js/form.js"></script>
  <script src="/js/jquery.placeholder.min.js"></script>

  <!-- Plugins for video background -->
  <script src="/js/device.min.js"></script>
  <script src="/js/jquery.mb.YTPlayer.js"></script>

  <!-- Custom Theme JavaScript -->
  <script src="/js/csoon.js"></script>

  <script type="text/javascript" src="/js/jquery.sparkline.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

  <script src="/js/intlTelInput.js"></script>
  <script src="/js/isValidNumber.js"></script>


  <script type="text/javascript">
    $(function() {
        /** This code runs when everything has been loaded on the page */
        /* Inline sparklines take their values from the contents of the tag */
        $('.inlinesparkline').sparkline('html', {
        height: '20px', width: '100%'});

        /* Sparklines can also take their values from the first argument
        passed to the sparkline() function */
        var myvalues = [10,8,5,7,4,4,1];
        $('.dynamicsparkline').sparkline(myvalues);

        /* The second argument gives options such as chart type */
        $('.dynamicbar').sparkline(myvalues, {type: 'bar', barColor: 'green'} );

        /* Use 'html' instead of an array of values to pass options
        to a sparkline with data in the tag */
        $('.inlinebar').sparkline('html', {type: 'bar', barColor: 'red'} );
    });
    </script>

    <script type="text/javascript">
      $(".offerchecker").change(function() {
         var offerid = $(this).attr("data-offerid"); // gets task ID of clicked checkbox
         var state = $(this).is(':checked'); // gets if checkbox is checked or not

        $.ajax({
            url: "/changechecker?offer_id=" +offerid+ "&status="+state,
            dataType: "jsonp",
            type: "GET",
            success: function (result) {
                console.log("Completed: "+state+" offer:"+offerid);
            },

            error: function (e) {
                console.log("error: "+status);
            }
        });

      });
    </script>


    <script>
      $(function () {
        $('[data-toggle="tooltip"]').tooltip()
      })
    </script>

    <script>
      $(function() {
          $('tr > td').each(function(index) {
              var scale = [['vGood', 50], ['good', 600], ['avg', 800], ['poor', 1000], ['vPoor', 1500]];
              var price = $(this).text();
              for (var i = 0; i < scale.length; i++) {
                  if (price > scale[i][1]) {
                      $(this).addClass(scale[i][0]);
                  }
              }
          });
      });
    </script>

    <script>
      $("form").submit(function() {
        $("#hidden").val($("#phone").intlTelInput("getNumber"));
      });
    </script>

</html>
