<!DOCTYPE html>
<html>
  <head>
    <title>Flights to Dubai</title>


    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery-ui.min.js"></script>

    <!-- <link href="/css/tabulator_site.css" rel="stylesheet">
  	<link href="/css/tabulator_midnight.css" rel="stylesheet">
  	<link href="/css/tabulator_modern.css" rel="stylesheet">
  	<link href="/css/tabulator_simple.css" rel="stylesheet">
  	<link href="/css/tabulator_bootstrap.css" rel="stylesheet">
    <link href="/css/tabulator.css" rel="stylesheet">
    <link href="/css/app.css" rel="stylesheet">
    -->
  	<link href="/css/tabulator_semantic-ui.css" rel="stylesheet">
    <link href="/css/tabulator.min.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/css/jPicker-1.1.6.min.css" />


    <link href='https://fonts.googleapis.com/css?family=Open+Sans:800,400,700,400italic,700italic|Bevan' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">


    <script type="text/javascript" src="/js/tabulator.min.js"></script>
    <script type="text/javascript" src="/js/jquery.sparkline.min.js"></script>


    <style>
      body {font-family: Arial; font-size: 12px;}
      h1 {color: #666; font-size: 30px;}
      .content {margin: 20px;}
      .loader {position: fixed; width: 100%; height: 100%; left:0; top:0; margin:0;padding:0; background:rgba(0,0,0,0.9); z-index:1000; display: block; overflow: auto;}
    </style>

  </head>

  <body>
    <div class="content">
      <%= yield %>
    </div>
  </body>

</html>
